@charset "UTF-8";
/* CSS Document */

.linking-page-background {
	background: url(../img/headertest.png) no-repeat center center;
	background-size: 100%;
	width: 100%;
	margin-top: 70px;
	position: absolute;
	left: 0;
	top: 0;
}

.linking-page-background > h1 {
  font-family: 'Playfair Display', serif;	font-size: 140px;
	color: white;
	text-align: center;
	width: 80%;
	margin-left: 10%;
	margin-top: 7%;
	margin-bottom: 2%;
}

.linking-page-background > p {
	color: white;
	font-family: 'Lora', serif;
	font-size: 20px;
	margin: 0px 25%;
	text-align: center;

}

@media (max-width: 1500px) {
	.linking-page-background > p {
		font-size: 14px !important;
	}

	.linking-buttons {
		font-size: 45px !important;
	}
}

.linking-buttons-container {
	margin-top: 5%;
}

.linking-buttons {
	opacity: .9;
	width: 30%;
	margin-right: 3%;
	height: 100px;
	background: rgba(0, 0, 0, 0);
	/*#54b8cc;*/
	color: white;
	font-size: 50px;
	outline: none;
	border: none;
	border-radius: 5px;
	font-family: 'Playfair Display', serif;
	letter-spacing: 1.5px;
	word-spacing: 2px;
}

.linking-buttons-pe {
	width: 45%;
	margin: 0px 2%;
	height: 100px;
	background: rgba(0, 0, 0, 0);
	/*#54b8cc;*/
	color: white;
	font-size: 50px;
	outline: none;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	letter-spacing: 1.5px;
	word-spacing: 2px;
}
